@font-face {
  font-family: 'Pretendard';
  src: url('./PretendardVariable.woff2') format('woff2'); /* 실제 경로에 맞춰 수정 */
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
}

/* PC 기본 */
html {
  font-size: 16px;
}

/* 테블릿 이하 */
@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
